<div class="dashboard">
    <div class="top">
        <div class="search">
            <span class="material-symbols-sharp">search</span>
            <input type="search" placeholder="Tìm kiếm">
        </div>
    </div>
    <div class="main-container">
        <h1>Tổng quan</h1>

        <div class="date">
            <input type="date">
        </div>

        <div class="insights">
            <div class="sales">
                <span class="material-symbols-sharp">analytics</span>
                <div class="middle">
                    <div class="lef">
                        <h3>Tổng doanh số</h3>
                        <h1>$25,024</h1>
                    </div>
                    <div class="progress">
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">24 giờ qua</small>
            </div>
            <!-- -------------- END OF SALES  -------------- -->

            <div class="expenses">
                <span class="material-symbols-sharp">bar_chart</span>
                <div class="middle">
                    <div class="lef">
                        <h3>Tổng chi phí</h3>
                        <h1>$14,160</h1>
                    </div>
                    <div class="progress">
                        <div class="number">
                            <p>62%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">24 giờ qua</small>
            </div>
            <!-- -------------- END OF EXPENSES  -------------- -->

            <div class="income">
                <span class="material-symbols-sharp">stacked_line_chart</span>
                <div class="middle">
                    <div class="lef">
                        <h3>Tổng thu nhập</h3>
                        <h1>$10,864</h1>
                    </div>
                    <div class="progress">
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">24 giờ qua</small>
            </div>
            <!-- -------------- END OF INCOM  -------------- -->
        </div>
        <!-- -------------- END OF INSIGHTS  -------------- -->

        <div class="table-data recent-orders">
            <h2 class="">Đơn hàng gần đây</h2>
            <table>
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>111111</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="warning">Đang chờ duyệt</td>
                        <td class="primary detail">Details</td>
                    </tr>
                    <tr>
                        <td>897934</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="success">Thành công</td>
                        <td class="primary detail">Details</td>
                    </tr>
                    <tr>
                        <td>567545</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="warning">Đang chờ duyệt</td>
                        <td class="primary detail">Details</td>
                    </tr>
                    <tr>
                        <td>435543</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="success">Thành công</td>
                        <td class="primary detail">Details</td>
                    </tr>
                    <tr>
                        <td>321241</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="success">Thành công</td>
                        <td class="primary detail">Details</td>
                    </tr>
                    <tr>
                        <td>213123</td>
                        <td>Đỗ Chí Hùng</td>
                        <td>0976580418</td>
                        <td>10.000.000</td>
                        <td class="success">Thành công</td>
                        <td class="primary detail">Details</td>
                    </tr>
                </tbody>
            </table>
            <a href="#">Hiển thị tất cả</a>
        </div>
    </div>
</div>