<div class="messages">
    <div class="top">
        <div class="search">
            <span class="material-symbols-sharp">search</span>
            <input type="search" placeholder="Tìm kiếm">
        </div>
    </div>
    <div class="main-container">
        <h1>Message</h1>
        <div class="message-body">
            <div class="container">
                <div class="leftSide">
                    <div class="header">
                        <div class="userimg">
                            <img src="/assets/images/287006300_715415926359922_8333332130386702047_n.jpg" alt="">
                        </div>
                        <ul class="nav_icons">
                            <li>
                                <ion-icon name="scan-circle-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="chatbox"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </li>
                        </ul>
                    </div>
                    <!-- Search -->
                    <div class="search_chat">
                        <div>
                            <input type="text" placeholder="Tìm và bắt đầu cuộc trò chuyện">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                    </div>

                    <!-- chat list -->

                    <div class="chatlist">
                        <div class="block active">
                            <div class="imgbx">
                                <img src="/assets/images/profile-1.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">10:56</p>
                                </div>
                                <div class="message_p">
                                    <p>Cố gắng lên nhé!</p>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                        <div class="block unread">
                            <div class="imgbx">
                                <img src="/assets/images/profile-2.jpg" alt="" class="cover">
                            </div>
                            <div class="details">
                                <div class="listHead">
                                    <h4>Đỗ Chí Hùng</h4>
                                    <p class="time">9:26</p>
                                </div>
                                <div class="message_p">
                                    <p>Xin chào, sản phẩm này có giá bao nhiêu ad?</p>
                                    <b>5</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="rightSide">
                    <div class="header">
                        <div class="imgText">
                            <div class="userimg">
                                <img src="/assets/images/287006300_715415926359922_8333332130386702047_n.jpg" alt="">
                            </div>
                            <h4>Đỗ Chí Hùng <br><span>online</span></h4>
                        </div>
                        <ul class="nav_icons">
                            <li>
                                <ion-icon name="search-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </li>
                        </ul>
                    </div>
                    <!-- chatbox -->
                    <div class="chatBox">
                        <div class="message_ne frnd_message">
                            <p>Xin chào, Hùng cho mình hỏi sản phẩm này giá bao nhiêu?<br><span>12:15</span></p>
                        </div>

                        <div class="message_ne my_message">
                            <p>Dạ, chào bạn nhé. Sản phẩm bên mình đang có ưu đãi 50%, hiện tại đang có giá là 299k bạn nhé <br><span>12:15</span></p>
                        </div>
                        <div class="message_ne frnd_message">
                            <p>Vâng mình cảm ơn ad nhé!<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne my_message">
                            <p>Vâng bạn, bạn còn cần mình tư vấn thêm gì không?<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne frnd_message">
                            <p>Sản phẩm này được bảo hàng trong bao lâu ?<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne my_message">
                            <p>Tất cả sản phẩm bên mình đều được bảo hành 36 tháng!<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne frnd_message">
                            <p>Thế bạn ship cho mình 5 sản phẩm nhé!<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne my_message">
                            <p>Vâng bạn, 5 cái tổng bill bạn là 1.980k, bạn có thể thanh toán luôn hoặc sau khi nhận hàng ạ!<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne frnd_message">
                            <p>Vâng mình sẽ thanh toán sau ạ. Phone mình: 0976580418. Adress: Đông Kết, Khoái Châu, Hưng Yên<br><span>12:15</span></p>
                        </div>
                        <div class="message_ne my_message">
                            <p>Vâng, shop sẽ ship sớm nhất cho bạn <br><span>12:15</span></p>
                        </div>
                    </div>
                    <!-- chat input -->
                    <div class="chatbox_input">
                        <ion-icon name="happy-outline"></ion-icon>
                        <ion-icon name="attach-outline"></ion-icon>
                        <input type="text" placeholder="Nhập tin nhắn">
                        <ion-icon name="mic"></ion-icon>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>